<div>
  <div>
    <h1>
      List of all bookmarks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bookmark
    </h2>

    <form action="/insert_bookmark" method="post">
        <input type="hidden" id="user_id_box" name="query_user_id" value=<%= @current_user.id%>>

      <div>
        <label for="movie_id_box">
          Movie
        </label>

        <select id="movie_id_box" name="query_movie_id">
          <% Movie.all.order({ :title => :asc}).each do |a_movie|%>
            <option value="<%=a_movie.id%>">
              <%=a_movie.title%>
            </option>
          <%end%>
        </select>
      </div>

      <button>
        Bookmark this movie!
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Movie
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
      <tr>

        <td>
          <a href="/movies/<%= a_bookmark.movie.id %>"><%=a_bookmark.movie.title%></a>
        </td>

        <td>
          <%= time_ago_in_words(a_bookmark.created_at) %> ago
        </td>
        <td>
           <a href="/delete_bookmark/<%= a_bookmark.movie.id%>">Un-bookmark</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
